* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    min-height: 10vh;
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3a3a3a;
}

#logo h4 {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 35px;
    font-family: "Cambria Math";
    text-decoration: none;
}

#nav-links {
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-links li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-links a {
    margin: 0 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: "Cambria Math";
}

#nav-links a:hover {
    box-shadow: inset 0 -2px 0 0 #fff;
    color: antiquewhite;
}

body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    position: relative;
     line-height: 1.4;
}
/* 
#header-container {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 20px 30px;
} */

h1 {
    color: white;
    margin: 0;
    font-weight: 100;
    z-index: 1;
}

/* footer {
    background-color: grey;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
} */

#chat-container {
    width: 50%;
    margin: 20px auto; 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 120px; 
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse; 
}

#chat {
    padding: 10px;
    overflow-y: auto;
    max-height: 100%; 
}

.user-message,
.bot-message {
    padding-bottom: 5px;
}

.user-message {
    color: #007bff;
}

.bot-message {
    color: #28a745;
}

#user-input {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    background-color: lightgray;
    width: 50%;
    position: fixed;
    bottom: 75px;
    left: 25%;
}

#user-message {
    flex: 1;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
}

#user-input button {
    margin-left: 10px;
    padding: 8px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#sidebar {
    width: 16%;
    background-color: #2b2929;
    overflow-y: auto;
    color: white;
    position: fixed;
    bottom: 30px; 
    display: flex;
    flex-direction: column;
    top: 90px;
}

#chat-history {
    margin-top: 10px;
    background-color: #2b2929;
    padding: 10px;
    padding-bottom: 50px;
    font-weight: 100px;
}

#new-chat-container {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

#new-chat-button {
    padding: 5px;
    background-color: #2b2929;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    text-align: right;
    border: solid white 1px;
    border-radius: 5px;
}

#new-chat-text {
    font-size: 1.2em;
    font-weight: 100;
    padding: 10px;
    text-align: center;
}

.chat-session {
    font-weight: 100px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.chat-session:hover {
    background-color: gray; 
}

.chat-session.selected {
    background-color: gray; 
} 

/* Footer */
footer {
    background-color: #3a3a3a;
    min-height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}