* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    min-height: 10vh;
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3a3a3a;
}

#logo h4 {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 35px;
    font-family: "Cambria Math";
    text-decoration: none;
}

#nav-links {
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-links li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-links a {
    margin: 0 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: "Cambria Math";
}

#nav-links a:hover {
    box-shadow: inset 0 -2px 0 0 #fff;
    color: antiquewhite;
}

/* Create Account Box */
.createaccountbox {
    width: 400px;
    margin: 15vh auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: "Cambria Math", serif;
}

.createaccountbox h1 {
    text-align: center; /* Center align the text */
    font-size: 30px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add some space below the header */
}

/* Create Account Box Paragraphs */
.createaccountbox p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

/* Create Account Box Text Input */
.createaccountbox input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Cambria Math", serif;
}

/* Create Account Box Input Labels */
.createaccountbox label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

/* Create Account Box Submit Button */
.createaccountbox input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: dodgerblue;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.createaccountbox input[type="submit"]:hover {
    background: #1e78ff;
}

/* Footer */
footer {
    background-color: #3a3a3a;
    min-height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}